/* top-right-bottom-left, top-right/left-bottom
    top/bottom-right/left, all */
:root {
    --background-blue: #0086b3;
    --background-grey: #f2f2f2;
    --text-dark: #141f1f;
    --text-light: #e6e6e6;
}

* {
    font-family: 'PT Sans', sans-serif;
    color: var(--text-dark);
    background-color: var(--background-grey);
    margin: 0 auto;
}

.title {
    display: inline;
    font-size: 45pt;
}
i {
    padding-right: 20px;
}
ul {
    padding-left: 105px;
}
td {
  vertical-align: top;
  height: 50px;
}
.header {
    display: inline;
    font-size: 32pt;
    padding: 10px;
}
p {
    font-size: 18pt;
    text-align: left;
    padding: 10px;
}
body {
    max-width: 950px;
    padding: 40px 50px 50px 150px;
}
table {
    border-spacing: 15px;
}
ul#contact li {
  display:inline;
}
.subheader {
    font-size: 20pt;
    text-indent: 50px;
    text-align: left;
    padding: 8px;
}
.subsubheader {
    font-size: 18pt;
    text-indent: 100px;
    text-align: left;
    padding: 8px;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-blue);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    background-color: var(--background-blue);
    padding: 6px 8px 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    color: var(--text-dark);
    display: block;
}

.sidenav a:hover {
    color: var(--text-light);
}

/* Style page content */
.main {
    margin-left: 160px;
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) and (max-width: 800px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {display: none;}
}

@media screen and (max-width: 900px) {
    <!-- remove sidebar, add nav bar -->
}